<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>
  
  
  
  <system.serviceModel>





    <extensions>
      <behaviorExtensions>
        <add name="customHeaderExtension" type="WcfServiceLibrary1.EnableCrossOriginResourceSharingBehavior, WcfServiceLibrary1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="FeedService.FeedService">
        <endpoint address="" behaviorConfiguration="CustomMessageBehavior"
          binding="webHttpBinding" contract="FeedService.IFeedService" />
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        <behavior name="CustomMessageBehavior">
          <customHeaderExtension />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        
        <clear/>
        <!--<add name="Cache-Control" value="no-cache, no-store, max-age=0, must-revalidate"/>-->
        <add name="Expires" value="Fri, 01 Jan 1990 00:00:00 GMT"/>
        <add name="Pragma" value="no-cache"/>

        <add name="X-Content-Type-Options" value="nosniff"/> <!--http://en.wikipedia.org/wiki/Content_sniffing-->
        <add name="X-Frame-Options" value="SAMEORIGIN" /> <!--https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options-->
        <add name="X-XSS-Protection" value="1; mode=block" /> <!--http://blogs.msdn.com/b/ieinternals/archive/2011/01/31/controlling-the-internet-explorer-xss-filter-with-the-x-xss-protection-http-header.aspx-->
        <!--<add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />-->
        
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
